
.text-box{
    width: 99%;
    color: #22d3ee;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);  
    text-align: center;

}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin:10px 0 40px; 
    font-size: 14px;
    color:#000000;
}

.btn{
    display: inline-block;
    text-decoration:none;
    color: #22d3ee;
    border:1px solid black;
    padding: 12px 34px;
    font-size:13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    border:1px;
    background: #0f172a;
}


