header{
    background-color: #0f172a;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.links{

    flex:1;
    text-align: right;
}

.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: #ffffff;
    font-size: 13;
    text-decoration: none;
}
.links ul li ::after{

    content: ''; 
    width: 0%;
    height: 2px;
    background:#ffffff ;
    display: block;
    margin: auto;
    transition: 0.5s ;
}
.links ul li :hover::after{
    width: 100%;
}
